.buy {
    min-height: 130px;
    width: 100%;
    margin: auto;
}

.footer-line {
    width: 90%;
}

.footer-logo{
    max-height: 200px;
    display: flex;
    margin: auto;
}

.footer-lastline {
    border-bottom: 15px solid var(--sc3-color);
    display: block;
    padding-top: 30px;
    max-width: 100%;
}