.main nav {
  min-height: var(--nav-height);
  box-shadow:0 1px 10px -3px var(--gc3-color);
}

.nav-link {
    text-align: end;
    cursor: pointer;
}

.socialIcon {
    color: rgba(255,255,255,.5);
    padding-left: 10px;
}

.socialIcon:hover {
    color: rgba(255,255,255,.7);
}